<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>admin home</title>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
	<h1>Admin Home</h1>
	<div class="nav-bar container">
	<button onclick="window.location.href='newSong'">Add a new Song</button><br>
	<button onclick="window.location.href='viewSongs'">View All Songs</button><br>
	<button onclick="window.location.href='createPlaylist'">Create a Playlist</button><br>
	<button onclick="window.location.href='viewPlaylists'">View Playlists</button><br>
	<button onclick="window.location.href='logout'">LOGOUT</button>
	</div>
	</body>
</html>