<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<title>Index</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1 >TuneHub : Listen to your Favorite Songs</h1>
	<div>
		<button id="b1" onclick="window.location.href='login'">LOGIN</button>
		<button id="b2" onclick="window.location.href='register'">REGISTER</button>
	</div>
</body>
</html>
<!--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-->