<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Add New Songs</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Add Song</h1>
	<div>
	<form action="addSong" method="post">
		<label>Song name: </label>
		<input type="text" name="name"/>
		<br>
		<label>Song artist: </label>
		<input type="text" name="artist"/>
		<br>
		<label>Song genre: </label>
		<input type="text" name="genre"/>
		<br>
		<label>Song link: </label>
		<input type="text" name="link"/>
		<br>
		<input type="submit" value="ADD SONG"/>
	</form>
	</div>
</body>
</html>