<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<style type="text/css">
	iframe{
	width:500px;
	height:100px;
	}
	
</style>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded',function(){
		var allAudioElements=document.getElementsByClassName('audio-player');
		
		function pauseOtherAudio(currentAudio){
			for(var i=0; i < allAudioElements.length; i++){
				if(allAudioElements[i] !== currentAudio)
				{
					allAudioElements[i].pause();
				}
			}
		}
		for(var i=0;i<allAudioElements.length;i++){
			allAudioElements[i].addEventListener('play',function (event){
				pauseOtherAudio(event.target);
			});
		}
	});
</script>
</head>
<body>
<h1>Playlists</h1>
<div>
	<table border="2">
		<thead>
			<tr>
				<th>Playlist Name: </th>
				<th>Songs: </th> 
			</tr>
			<tr th:each="playlists:${playlists}">
				<td th:text="${playlists.name}">
				</td>
				<td >
					<ul>
						<li th:each="songs:${playlists.songs}"><label th:text="${songs.name}"></label>
						<audio class="audio-player" controls th:src="${songs.link}"></audio></li>
					</ul>
				</td>
			</tr>
		</thead>
	</table>
	</div>
</body>
</html>